body > div.html > div.circle {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0,0);
    background-repeat: no-repeat;
    background-size: cover;
}