body > div.parent-circle {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

body > div.parent-circle > div.child-circle {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}